[merge]
	tool = kdiff3
[mergetool.kdiff3]
	path = C:/Program Files/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool.kdiff3]
	path = C:/Program Files/KDiff3/kdiff3.exe
[core]
	editor = \"C:/Program Files/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = true
[user]
	name = woaigithub
	email = jorden008@gmail.com
