<% content_for :title do %>Posts<% end %>

<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <div><%= link_to post.title, post%></div>
    <div>
      <%= post.content %>
    </div>
  <% end %>
<div>
