<% content_for :title do %>Posts<% end %>

<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <div class="row">
    
      <%= link_to post.title, post%>

    </div>
    <div claass="row">
      <%= post.summary %>
    </div>
  <% end %>
</div>
